.principal{
    display: flex;
    flex-direction: row;
    padding: 2em;
    margin: 10px;
}
#entete{
    background-color: burlywood;}
.tableau{
    border:  6px solid #867b64;
    background-color: burlywood;
}
tr:nth-child(odd){
     background-color: beige ;
}
#erreur{
    border:10px dashed red;
}
#erreur>strong{
    color: red;
}
